<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <app-update-artist
      [artist]="updatedArt"
      [ajout]="ajout"
      (artistUpdated)="artistUpdated($event)"
    ></app-update-artist>
  </div>
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom Artist</th>
            <th>Age</th>
            <th>Genre</th>
            <th>Pays</th>
          </tr>
        </thead>
        <tbody *ngFor="let art of artists">
          <tr>
            <td>{{art.idArtist}}</td>
            <td>{{art.name}}</td>
            <td>{{art.age}}</td>
            <td>{{art.genre}}</td>
            <td>{{art.country}}</td>
            <td><button class="btn btn-success" (click)="updatedArtist(art)">Editer</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
